In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('donic.tsv', sep='\t')

In [4]:
df.head()

,Name,Speed,Spin,Tackiness,Overall,Price,Ratings
0,Donic Baracuda,8.7,9.5,2.3,9.3,40,198
1,Donic Acuda S2,8.8,9.1,2.6,9.2,37,108
2,Donic Bluefire M1,9.3,9.3,2.7,9.3,54,81
3,Donic Acuda S3,8.4,9.1,1.8,9.0,52,73
4,Donic Acuda S1,9.2,9.2,1.9,9.2,52,56

In [5]:
df.tail()

,Name,Speed,Spin,Tackiness,Overall,Price,Ratings
79,Donic Solo,7.0,7.5,2.0,7.9,12,1
80,Donic Traction II,8.5,9.3,5.0,9.2,54,1
81,Donic Vario Mach 1,9.0,8.0,2.0,7.0,36,1
82,Donic Vario Sound,9.0,8.0,2.0,8.0,59,1
83,Donic Vario ST (Tuned),7.9,8.8,0.0,7.6,38,1